<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title ng-bind-template="{{ ::$ctrl.todo.user }}'s TO DO List"></title>
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/ng-cloak.css" rel="stylesheet">

</head>
<body ng-controller="TodoController as $ctrl" ng-cloak>
    <div class="container">
        <div ng-include="'templates/page-header.html'"></div>

        <div class="panel">
            <form novalidate name="newTask">
                <div class="form-group">
                    <label for="action">Action:</label>
                    <div class="input-group">
                        <input
                            id="action"
                            name="action"
                            class="form-control"
                            ng-model="$ctrl.newItem.action">
                        <span class="input-group-btn">
                            <button
                                class="btn btn-primary"
                                ng-click="$ctrl.ddNewItem($ctrl.todo.items, $ctrl.newItem)"
                                ng-disabled="!$ctrl.newItem.action">
                                Add
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> To Do List
            </div>
            <div class="panel-body">
                <vi-task-list></vi-task-list>
            </div>
        </div>

        <input type="checkbox" ng-model="$ctrl.showComplete" />Show All


        <!-- Test directives
            ng-bind, ng-bind-html, ng-bind-template, ng-non-bindable -->
        <!-- <p ng-bind="$ctrl.firstName"></p>
        <pre ng-bind-template="{{$ctrl.firstName}} {{$ctrl.lastName}}"></pre>
        <p ng-bind-html="$ctrl.myHTML"></p>
        <div ng-non-bindable>Ignored: {{1 + 2}}</div> -->


        <!-- ngOptions DEMO -->
        <!-- syntax: select as label for value in collection (select -> ngModel, label -> option.label, value - variable from collection)-->
        <!-- <select ng-model="$ctrl.val" ng-options="priority.id as priority.name for priority in $ctrl.priority">
            <option value="">Select</option>
        </select> -->
        <!-- <select ng-model="$ctrl.val" ng-options="priority.name as priority.name for priority in $ctrl.priority">
            <option value="">Select</option>
        </select> -->
        <!--
        <select ng-model="$ctrl.val" ng-options="priority as priority.name for priority in $ctrl.priority">
            <option value="">Select</option>
        </select>
        {{$ctrl.val | json}}
        -->
    </div>



    <script src="vendor/angular/angular.min.js"></script>
    <!-- этот скрипт нужен для демонстрации ng-bind-html -->
    <script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.run.js"></script>

    <script src="services/todo.service.js"></script>
    <script src="services/model.service.js"></script>

    <script src="filters/checked-items.filter.js"></script>
    <script src="directives/task-list.directive.js"></script>
    <script src="controllers/todo.controller.js"></script>

</body>
</html>
